<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <HockeyAppId></HockeyAppId>
  <Yelp>
    <ConsumerKey></ConsumerKey>
    <ConsumerSecret></ConsumerSecret>
    <AccessToken></AccessToken>
    <AccessTokenSecret></AccessTokenSecret>
  </Yelp>
</Configuration>